<!-- app/departments/departments.component.html -->

<!-- Department Form -->
<div class="container department-form">
  <h1 *ngIf="!isUpdating">Register Department</h1>
  <h1 *ngIf="isUpdating">Update Department</h1>
  <br />
  <div class="flex-container">
    <div class="Registration-Form flex-col">
      <form (submit)="$event.preventDefault()">
        <div class="flex-row">
          <!-- First column -->
          <div class="flex-col">
            <!-- Department_id field only show up when the user update record -->
            <div class="form-group" *ngIf="isUpdating">
              <label>Department ID</label>
              <input
                type="text"
                [value]="DEPARTMENT_ID"
                class="form-control"
                readonly
              />
            </div>
            <div class="form-group">
              <label>Department name</label>
              <input
                type="text"
                [(ngModel)]="DEPARTMENT_NAME"
                [ngModelOptions]="{ standalone: true }"
                class="form-control departmentName"
                id="DEPARTMENT_NAME"
                placeholder="Enter Department name"
                required
                #departmentName="ngModel"
                (focus)="departmentNameTouched = true"
              />
              <div
                *ngIf="departmentNameTouched && departmentName.errors?.['required']"
                class="error-message"
              >
                Department name is required.
              </div>
            </div>
            <div class="form-group">
              <label>Manager</label>
              <select
                [(ngModel)]="MANAGER_ID"
                [ngModelOptions]="{ standalone: true }"
                class="form-control managerId"
                id="MANAGER_ID"
              >
                <option value="">Select a manager</option>
                <!-- Default Option -->
                <option
                  *ngFor="let manager of EmployeeArray"
                  [value]="manager.EMPLOYEE_ID"
                >
                  {{ manager.EMPLOYEE_ID }} {{ manager.LAST_NAME }}
                  {{ manager.FIRST_NAME }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label>Location</label>
              <select
                [(ngModel)]="LOCATION_ID"
                [ngModelOptions]="{ standalone: true }"
                class="form-control locationId"
                id="LOCATION_ID"
                required
                #locationId="ngModel"
                (focus)="locationIdTouched = true"
              >
                <option value="">Select a location</option>
                <option
                  *ngFor="let location of LocationArray"
                  [value]="location.LOCATION_ID"
                >
                  {{ location.LOCATION_ID }}
                  {{ location.STREET_ADDRESS }}
                  {{ location.POSTAL_CODE }}
                  {{ location.CITY }}
                  {{ location.COUNTRY }}
                </option>
              </select>
              <div
                *ngIf="locationIdTouched && locationId.errors?.['required']"
                class="error-message"
              >
                Location is required
              </div>
            </div>

            <!-- Save and Cancel buttons -->
            <button type="submit" class="btn btn-save" (click)="save()">
              Save
            </button>
            <button type="reset" class="btn btn-cancel" (click)="resetForm()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br /><br />

<!-- Search Area -->
<div class="container search">
  <div class="form-group-search">
    <label></label>
    <input
      type="text"
      [(ngModel)]="SearchInput"
      [ngModelOptions]="{ standalone: true }"
      class="form-control input-search"
      id="SearchInput"
      placeholder="Search by department_id or department_name"
    />
  </div>
  <button
    type="button"
    class="btn btn-searchButton"
    (click)="searchDepartment()"
  >
    Search
  </button>
  <button
    type="button"
    class="btn btn-resetSearch"
    (click)="getAllDepartment()"
  >
    Cancel
  </button>
</div>
<br />
<br />
<br />
<!-- ----------------------------Department Dashboard------------------------------------- -->

<div class="table-container">
  <h1>Department Dashboard</h1>
  <table class="table-departments">
    <thead>
      <h1 *ngIf="!isResultLoaded">Loading.......</h1>
      <tr>
        <th scope="col">DEPARTMENT_ID</th>
        <th scope="col">DEPARTMENT_NAME</th>
        <th scope="col">MANAGER_ID</th>
        <th scope="col">LOCATION_ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let DepartmentItem of DepartmentArray">
        <td>{{ DepartmentItem.DEPARTMENT_ID }}</td>
        <td>{{ DepartmentItem.DEPARTMENT_NAME }}</td>
        <td>{{ DepartmentItem.MANAGER_ID }}</td>
        <td>{{ DepartmentItem.LOCATION_ID }}</td>

        <button
          type="button"
          class="btn btn-update"
          (click)="setUpdate(DepartmentItem)"
        >
          Update
        </button>
        <button
          type="button"
          class="btn btn-delete"
          (click)="deleteDepartment(DepartmentItem)"
        >
          Delete
        </button>
      </tr>
    </tbody>
  </table>
</div>
