.navbar-brand img {
    height: 80px; /* Adjust as necessary */
    width: 180px; /* maintain aspect ratio */
    margin-right: 5px; /* space between image and the website name */
}

.container-fluid {
    background-color: #111112;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #ffffff;
    gap: 20px;
}

.nav-link {
    color: #e6e0e0; /* This sets the default link color */
}

.nav-link:hover {
    color: #4bc5ded1; /* Lighten the color slightly when hovered */
}

/* Active Page Styles */
.nav-link.active {
    font-weight: bold; 
    font-size: 1.6em; /* Increase size for the active link */
    color: #4bc5ded1;
}

.nav-item-logout .btn-logout {
    /* Your styles go here */

    background-color: #111112;  /* Red background for logout */
    color: rgb(163, 160, 160);               /* White text color */
    border-radius: 4px;         /* Slight rounding of corners */
    border: none;               /* Remove border */
    padding: 8px 12px;          /* Some padding for better appearance */
    cursor: pointer;            /* Cursor to pointer when hovering */
    transition: background-color 0.3s;  /* Smooth transition effect */
}

.nav-item-logout .btn-logout:hover {
    background-color: #359eae;  /* Darker shade of red for hover effect */
    color: #ffffff;
}

